.profile-pic {
  max-width: 150px;
}

.username {
   font-weight:bold;
   font-size:16px;
}

.star {
   max-width:20px;
}

.stats-td {
   padding:3px;
   font-weight:25px;
}

.stat-icon {
  max-width: 25px;
}

.log-icon {
  max-width: 15px;
}

.last-action {
  padding-left: 1rem;
}
